html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#pano {
  width: 100%;
  height: 100vh;
}

#search {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px;
  z-index: 10;
}

.hotspot {
  padding: 6px;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
}

.booked {
  background: red;
}

.available {
  background: blue;
}

.ongoing {
  background: orange;
  
}

#search {
  position: absolute;
  top: 20px;
  right: 20px;
}

.plot-card {
  position: absolute;
  bottom: 20px;
  left: 20px;

  background: rgba(255, 255, 255, 0.8); /* transparent white */
  padding: 15px;
  border-radius: 8px;
  width: 125px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 20;
}


.plot-card.hidden {
  display: none;
}

.plot-card .booked {
  color: red;
}
.plot-card .available {
  color: blue;
}
.plot-card .ongoing {
  color: orange;
}


